.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registrationForm h1 {
    margin-top: 50px;
    text-align: center;
}

.autorisationForm h1 {
    margin-top: 50px;
    text-align: center;
}

.mat-flat-button, .mat-stroked-button {
    margin: 100px auto;
    width: 22rem;
    height: 100px;
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 7px;
}

.mat-raised-button {
    margin-top: 30px;
}

.logoArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more {
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    font-weight: 900;
    margin-left: 180px;
    padding: 10px 40px;
    color: rgb(219, 20, 48);
    background-color: white;
    border-bottom: 1px solid black;
    letter-spacing: 5px;
}

.question {
    font-family: 'WindSong', cursive;
    font-size: 30px;
    margin-right: 231.2px;
    margin-bottom: 30px;
    letter-spacing: 7px;
}

h1 {
    font-family: 'Gowun Batang', serif;
    padding: 20px 40px;
    font-weight: 900;
    background-color: rgb(219, 20, 48);
    letter-spacing: 10px;
    box-shadow: 0 4px 14px rgb(207, 58, 58);
    border-radius: 10px;
}

#bigm {
    font-size: 30px;
    font-family: 'Gowun Batang', serif;
}
