<div *ngIf="visibility" class="forms">
  <div class="registrationForm">
    <button
      mat-flat-button
      color="primary"
      (click)="goToRegistrationOrSignInComp('registration')"
    >
      Registration
    </button>
  </div>

  <div class="logoArea">
    <p class="question">Do you want to?</p>
    <h1>TRAVEL</h1>
    <p class="more"><span id="bigm">M</span>ORE</p>
  </div>

  <div class="autorisationForm">
    <button
      mat-stroked-button
      color="primary"
      (click)="goToRegistrationOrSignInComp('authorization')"
    >
      Authorization
    </button>
  </div>
</div>

<router-outlet
  (activate)="componentAdded()"
  (deactivate)="componentRemoved()"
></router-outlet>
