.mat-raised-button {
  font-family: "Gowun Batang", serif;
}
.cardsArea {
  display: flex;
  justify-content: center;
}
.mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel-header {
  height: 100%;
}
.example-card img {
  max-width: 300px;
  max-height: 150px;
  object-fit: cover;
}
.example-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.saleCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mat-accordion {
  margin: 0px 10px 10px 10px;
  max-width: 374px;
}
