<mat-sidenav-container class="example-container">
  <mat-sidenav opened #sidenav [mode]="mode.value">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let link of links"
        (click)="navigateTo(link.name)"
        [ngClass]="{ active: route.url == '/main/' + link.name }"
      >
        <mat-icon>{{ link.icon }}</mat-icon
        >{{ link.name }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle(); iconChange()">
      <mat-icon>{{ menuIcon }}</mat-icon>
    </button>
    <div class="empty"></div>
    <router-outlet></router-outlet>
    <div class="empty"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
